*
!changelog.md
!info.txt
!chat_commands_extended.lua
!no_police_helis.lua
!toggle_ui.lua
!train_control.lua
!vehicle_autodrive.lua
!vehicle_options.lua
!actions.lua
!test.lua
!jackz_vehicles.lua
!jackz_chat.lua
!jackz_vehicle_builder.lua

!lib/
!lib/natives-1627063482.lua
!lib/natives-1639742232.lua
!lib/animations.lua
!lib/vehicles.lua
!lib/weapons.lua
!lib/json.lua
!lib/translations.lua
!lib/scaleforms.lua
!lib/jackzvehiclelib.lua

!resources/
!resources/objects.txt
!resources/vehicles.txt
!resources/peds.txt
!resources/particles.txt
!resources/jackz_actions/
!resources/jackz_actions/*
!resources/translations
!resources/translations/*

!templates/
!templates/*

!.vscode/
!.vscode/settings.json
!.gitignore
!README.md