*
!changelog.md
!info.txt
!chat_commands_extended.lua
!no_police_helis.lua
!toggle_ui.lua
!train_control.lua
!vehicle_autodrive.lua
!vehicle_options.lua
!actions.lua
!jackz_vehicles.lua
!jackz_chat.lua
!jackz_vehicle_builder.lua
!jackz_animator.lua
!jackzscript.lua

!lib/
!lib/jackzscript/
!lib/jackzscript/*
!lib/jackzscript/core/
!lib/jackzscript/core/*
!lib/jackzscript/core/wrappers/
!lib/jackzscript/core/wrappers/*
!lib/jackzscript/modules/
!lib/jackzscript/modules/*
!lib/jackzscript/modules/chat/
!lib/jackzscript/modules/example/
!lib/jackzscript/modules/jackz_vehicles/
!lib/jackzscript/modules/chat/*
!lib/jackzscript/modules/example/*
!lib/jackzscript/modules/jackz_vehicles/*

!lib/natives-1627063482.lua
!lib/natives-1639742232.lua
!lib/animations.lua
!lib/vehicles.lua
!lib/weapons.lua
!lib/json.lua
!lib/translations.lua
!lib/scaleforms.lua
!lib/jackzvehiclelib.lua
!lib/jackzanimatorlib.lua

!resources/
!resources/objects.txt
!resources/vehicles.txt
!resources/peds.txt
!resources/particles.txt
!resources/jackz_actions/
!resources/jackz_actions/*
!resources/translations
!resources/translations/*
!resources/jackz_animator
!resources/jackz_animator/*

!templates/
!templates/*

!.vscode/
!.vscode/settings.json
!.gitignore
!README.md
*.sh
