*
!changelog.md
!info.txt
!chat_commands_extended.lua
!no_police_helis.lua
!toggle_ui.lua
!train_control.lua
!vehicle_autodrive.lua
!vehicle_options.lua
!actions.lua
!test.lua
!jackz_vehicles.lua
!chat.lua

!lib/
!lib/natives-1627063482.lua
!lib/animations.lua
!lib/vehicles.lua
!lib/weapons.lua
!lib/json.lua
!.vscode/
!.vscode/settings.json
!.gitignore